:root {
    --colorDarkest: #000;
    --colorDarker: #2b2b4a;
    --colorDark: #55556e;
    --colorMedium: #808092;
    --colorLight: #d5d5db;
    --colorLighter: #f7f5f9;
    --colorLightest: #fff;

    --colorPrimary: #BF92B7;
    /*#0072e0*/
    --colorDanger: #dc2626;

    --rounded: 3px;
    --roundedFull: 999px;
}

body {
    background-color: var(--colorLightest);
    color: var(--colorDarker);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.container {
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 1024px;
    width: 90vw;
}

h1,
h2,
h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

p:not(:last-of-type) {
    margin-bottom: 1rem;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    align-items: center;
}

.menuHideMobile {
    display: none;
}

.menuItem {
    font-size: 1.125rem;
}

.menuItemLarge {
    font-size: 1.25rem;
}

.menuItem:not(:last-child) {
    margin-right: 1rem;
}

.link {
    color: var(--colorPrimary);
    display: inline-block;
    text-decoration: none;
}

.linkNoColor {
    color: inherit;
}

.link:not(.linkNoDecor):hover::after,
.link:not(.linkNoDecor):focus::after {
    border-bottom: 2px solid var(--colorPrimary);
    content: '';
    display: block;
}

.linkNoColor:hover::after,
.linkNoColor:focus::after {
    border-color: var(--colorDarker);
}

.image {
    display: inline-block;
}

.imageSmall {
    width: 50px;
}

.imageRounded {
    border-radius: var(--roundedFull);
}

main {
    flex-grow: 1;
}

section {
    margin-bottom: 10px;
    padding: 1.5rem 0;
}

section ul li,
#skills ul li,
#usersMessage ul li {
    background-color: #f9f9f9;
    padding: 10px;
}

form[name="leave_message"] label {
    font-size: 14px;
    color: #555;
}

form[name="leave_message"] input,
form[name="leave_message"] textarea {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

form[name="leave_message"] button[type="submit"] {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

#usersMessage ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
}

#usersMessage ul li button {
    padding: 5px 10px;
    background-color: #4f79ef;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: var(--colorLighter);
    font-size: 1.125rem;
}

@media screen and (min-width: 768px) {
    .menuHideMobile {
        display: flex;
    }
    .projectImage {
        width: 50%;
    }
}

/* For smaller screens */
@media screen and (max-width: 767px) {
    .projectImage {
        width: 100%;
    }
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.imageContainer img {
    max-width: 100%;
}
